extends layout

block content
    div(class="container" id="recipe-detail")
        h1(id="recipe-name") #{details.name}
        div(class="rating-star")
            i(class="fa fa-star")
            i(class="fa fa-star")
            i(class="fa fa-star")
        p recipe by #{details.author}

        div(class="row" id="details")
            div(class="column")
                img(alt="recipe-img" class="recp-img" src=details.image)
                //div(class="recipe-title")
            div(class="column" id="recipe-content")
                p Prepare Time: #{details.prepTime}
                p Cook Time: #{details.cookTime}
                p Serving Size: #{details.servingSize}
                p INGREDIENT:
                    |#{details.ingredient}
                p INSTRUCTION:
                    |#{details.instruction}
            if(details.author == userID)
                div(class="detail-btn")
                    a(href='/editRecipe?id=' + recipeID)
                        button(class="delete-recipe-btn") Edit
                div(class="detail-btn")
                    a(href='/deleteRecipe?id=' + recipeID)
                        button(class="delete-recipe-btn") Delete
            div(class="detail-btn")
                    a(href='/reportRecipe?id=' + recipeID)
                        button(class="delete-recipe-btn") Report



