extends layout

block content
    img(alt="recipe-img" class="recp-img" src=details.image)
    div(class="details")
        div(class="recipe-title")
            h1(id="recipe-name") #{details.name}
            div(class="rating-star")
                i(class="fa fa-star")
                i(class="fa fa-star")
                i(class="fa fa-star")
            p recipe by #{details.author}
        div(id="recipe-content")
            p Prepare Time: #{details.prepTime}mins
            p Cook Time: #{details.cookTime}mins
            p Serving Size: #{details.servingSize}
            p INGREDIENT:
            #{details.ingredient}
            p INSTRUCTION:
            #{details.instruction}
        a(href='/editRecipe?id=' + recipeID)
            button(class="delete-recipe-btn") Edit


