extends layout

block content
    div(class="container")
        section(class="main-section")
            div(id="add-recipe")
                form(action="/editRecipe" method="POST")
                    h2 Add Your Own Recipe
                    input(name="recipeID" type="hidden" value=recipeID)
                    label Recipe Name: *
                    input(id="recipe-name" name="name" type="text" value=recipeName)
                    label Ingredients:
                    TEXTAREA(id="recipe-ingredient" name="ingredients" type="text" ).
                        #{ingredient}
                    label(id="recipe")
                    label Instructions:
                    TEXTAREA(id="recipe-instruction" name="instructions" type="text").
                        #{instruction}
                    label Course:
                    input(id="recipe-course" name="course" type="text" value=course)
                    label Prepare Time:
                    input(id="recipe-ptime" name="prepTime" type="text" value=prepTime)
                    label Cook Time:
                    input(id="recipe-ctime" name="cookTime" type="text" value=cookTime)
                    label Serving Size:
                    input(id="recipe-size" name="servingSize" type="number" value=servingSize)
                    label Image(Please enter img url):
                    input(id="recipe-img" name="imageURL" type="text" value=imageURL)
                    label Vegetarian
                    if(vegetarian == '1')
                        input(id="vegetarian" name="vegetarian" type="checkbox" checked)
                    else
                        input(id="vegetarian" name="vegetarian" type="checkbox")
                    label Vegan
                    if(vegan == '1')
                        input(id="vegan" name="vegan" type="checkbox" checked)
                    else
                        input(id="vegan" name="vegan" type="checkbox")
                    button(id="add-recipe-btn") EDIT

                p(id="add-recipe-result") #{status}
