doctype html
html
	head
		style
			include basic.css
	body
		div(class='recipebody')
			div(class='layer')
				p(class='leftalign') #{name}
				p(class='rightalign') ID: #{recipeID}
			div(class='layer')
				p(class='leftalign') Course: #{course}
				p(class='rightalign') Rating: #{rating}
			div(class='layer')
				p(class='leftalign') Prep Time: #{prepTime}
			div(class='layer')
				p(class='leftalign') Cooking Time: #{cookTime}
			div(class='layer')
				p(class='leftalign') #{ingredients}
			div(class='layer')
				p(class='leftalign') #{instructions}